footer {
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 1.25rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
footer ul li {
  padding-right: 1rem;
  display: inline;
}
@media only screen and (min-width: 768px) {
  footer ul li {
    display: inline;
    padding-right: 2rem;
  }
}